@import url(../../common/styles/common.css);

.ca_red_cube {
  width: 17px;
  height: 11px;
  background: #f2536d;
  border-radius: 1px;
}

.ca_legend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.ca_legend span {
  padding: 0px 8px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.ca_scroll_table {
  margin-top: 5px;
}
.ca_scroll_table_header {
  border: 1px solid #dddbda;
  background: #fafaf9;
  box-shadow: 0px 1px 0px #dddbda;
  padding-right: 8px;
  color: #3e3e3c;
  margin: 16px 32px 0px 16px;
}

.ca_scroll_table_body {
  background: #ffffff;
  height: 290px;
  overflow-x: auto;
  margin: 0px 32px 16px 16px;
}
.ca_scroll_table table {
  width: 100%;
  table-layout: fixed;
  border: none;
  box-shadow: 0px -1px 0px #dddbda, 0px 1px 0px #dddbda;
}
.ca_scroll_table thead th {
  text-align: left;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #3e3e3c;
}
.ca_scroll_table thead th:nth-child(1) {
  width: 60%;
}
.ca_scroll_table thead th:nth-child(2) {
  width: 40%;
}
.ca_scroll_table tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 5px 10px;
  vertical-align: top;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  border: 1px solid #dddbda;
  color: #3e3e3c;
}
.ca_scroll_table tbody td:nth-child(1) {
  width: 60%;
}
.ca_scroll_table tbody td:nth-child(2) {
  text-align: right;
  width: 40%;
}
.ca_tooltip {
  width: 320px;
  height: 352px;
}
.ca_close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 296px;
  width: 16px;
  height: 16px;
}
.ca_close:before,
.ca_close:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: #ffffff;
  top: 5px;
}
.ca_close:before {
  transform: rotate(45deg);
}
.ca_close:after {
  transform: rotate(-45deg);
}
.google-visualization-tooltip {
  top: -60px !important;
  width: 321px;
  height: 352px;
  background-color: #16325c !important;
  position: relative;
}
.ca_arrow_left .google-visualization-tooltip:after,
.ca_arrow_left .google-visualization-tooltip:before {
  content: '';
  border: solid transparent;
  position: absolute;
  right: 100%;
  top: 50%;
}
.ca_arrow_left .google-visualization-tooltip:after {
  border-right-color: #16325c;
  border-width: 8px;
  margin-top: -8px;
}
.ca_arrow_left .google-visualization-tooltip:before {
  border-right-color: #16325c;
  border-width: 9px;
  margin-top: -9px;
}

.ca_arrow_right .google-visualization-tooltip:after,
.ca_arrow_right .google-visualization-tooltip:before {
  content: '';
  border: solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
}
.ca_arrow_right .google-visualization-tooltip:after {
  border-left-color: #16325c;
  border-width: 8px;
  margin-top: -8px;
}
.ca_arrow_right .google-visualization-tooltip:before {
  border-left-color: #16325c;
  border-width: 9px;
  margin-top: -9px;
}
.ca_over_limit {
  background-color: #f2536d;
}
