@import url(../../../common/styles/common.css);

.db {
  min-width: 194px;
  min-height: 116px;
}

.db_data_container {
  display: flex;
  justify-content: flex-start;
}

#db_total {
  cursor: pointer;
  flex: 0 1 5%;
}

.db_chart {
  flex: 0 1 95%;
}
